@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: pink;
}

body p {
  font-size: 1.5rem;
  font-weight: bold;
  color: #e62020;
  text-transform: uppercase;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
}

#box {
  background-color: rgba(0, 0, 0, 0.33);
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.33);
  width: 80%;
}

#box label {
  font-size: 1.2rem;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

#box_field {
  margin-top: 20px;
}
