@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: pink;
  background-image: url(../img/us.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body p {
  font-size: 1.5rem;
  font-weight: bold;
  color: #e62020;
  text-transform: uppercase;
  text-shadow: 3px 3px 3px solid rgba(0, 0, 0, 0.3);
}

#loveu,
#jheytext {
  color: #fff;
}
